<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    id="WebApp_ID" 
	version="5.0">
  <display-name>EBbillSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  
  <context-param>
        <param-name>dbName</param-name>
        <param-value>electricitybillsystem</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>sabari</param-value>
    </context-param>

    <!-- Define listener to initialize database connection -->
    <listener>
        <listener-class>com.listener.DBInitializer</listener-class>
    </listener>
    
</web-app>